/* CSS general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary_color: #ffffff;
    --bg_footer: #23272a;
    --bg_section: #f6f6f6;
    --dark_test: #000000;
    --bg_header: #255ee9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.list_style {
    list-style: none;
}

.d_flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.align_center {
    align-content: center;
}

/*CSS main*/

.even {
    background-color: var(--bg_section);
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}